/* =============
    BASIC SETUP 
================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #262222;
    font-family: "Lato", sans-serif;
    font-size: 25px; /*base font-size*/
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.container {
    max-width: 1140px; 
    margin: 0 auto;
    overflow: auto;
}


section {
    padding: 70px 0;
}

col {
    margin-bottom: 20px;
}
/* ========
    HEADER 
=========== */

header {
    /*add black overlay to image*/
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(imgs/header.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}


.main-headline { 
    /*center the headline*/
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    -o-transform: translate(-60%, -50%);
    -webkit-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
}

h1, 
h2 {
    font-weight: 200;
    letter-spacing: 1px;
}

h1 {
    margin: 0; /*remove normalize top margin on all h1*/
    font-size: 2.2rem;
    color: white;
}

/* NAV BAR */
nav {
    overflow: auto;
}

.brand-logo {
    float: left;
    padding-top: 20px;
    max-width: 10%;
    display: block;
    height: auto;
}

.top-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.top-nav li {
    display: inline-block;
    margin: 0;
}

.top-nav li a:link, 
.top-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.8rem;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 100px;
    transition: all 0.3s;
    border: 1px solid transparent;
}

.top-nav li a:hover, 
.top-nav li a:active {
    border: 1px solid rgba(243, 156, 18,1.0);
    color: rgba(243, 156, 18,1.0);
}

.brand-logo-color {
    display: none;
}

/*===============*/
/* Sticky navbar */
/*===============*/
.sticky-navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 6px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 11px -4px rgba(0,0,0,0.75);
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

.sticky-navbar .top-nav li a:link, 
.sticky-navbar .top-nav li a:visited {
    color: #262222;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8rem;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.3s;
    border: 1px solid transparent;
}

.sticky-navbar .top-nav li a:hover, 
.sticky-navbar .top-nav li a:active {
    border: 1px solid rgba(243, 156, 18,1.0);
    color: rgba(243, 156, 18,1.0);
}

.sticky-navbar .top-nav {
    float: right;
    list-style: none;
    margin-top: 15px;
}

.sticky-navbar .brand-logo-color {
    display: block;
    float: left;
    padding-top: 0px;
    max-width: 6%;
    height: auto;
}

.sticky-navbar .brand-logo {
    display: none;
}

/*=================*/
/*BURGER NAVIGATION*/
/*=================*/
.burger-icon {
    float: right;
    margin-top: 40px;
    cursor: pointer;
    color: white;
    display: none;
}

.burger-icon i{
    font-size: 200%;
}

/* BUTTONS */

.btn:link, .btn:visited {
    text-decoration: none;
    color: white;
    border-radius: 100px;
    display: inline-block; /* to give some padding, a mix between inline and block elements*/
    padding: 10px 30px;
    font-weight: 200;
    margin-top: 30px;
    transition: all 0.3s;
    border: 1px solid rgba(243, 156, 18,1.0); /* common attributes to both buttons */
}

.btn-regular:link, .btn-regular:visited {
    background-color: rgba(243, 156, 18,1.0);
}

.btn-border:link, .btn-border:visited {
    color: rgba(243, 156, 18,1.0);
    margin-left: 20px;
}

/* BUTTON STATES */
.btn-regular:hover, .btn-regular:active {
    color: rgba(243, 156, 18,1.0);
    background-color: transparent;
}

.btn-border:hover, .btn-border:active {
    color: white;
    background-color: rgba(243, 156, 18,1.0);
}


/*=================*/
/*DELIVERY SECTION */
/*=================*/

h2 {
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h2::after,
h3::after {
    content: "";
    display: block;
    height: 2px;
    background-color: rgba(243, 156, 18,1.0);
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

h3::after {
    width: 40px;
}

p.content-sec-2 {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    font-size: 0.9rem;
    word-wrap: break-word;
    text-align: justify;
}

#columns {
    padding: 0.2rem;
}

h3 {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

#columns p { 
    font-size: 0.8rem;
    line-height: 150%;
    text-align: justify;
}

#custom-icon {
    font-size: 2rem;
    color: rgba(243, 156, 18,1.0);
    margin-bottom: 10px;
    margin-left: 42%;
}

/*=============*/
   /*SWHOCASE*/
/*=============*/

.showcase-section {
    padding: 0;
}

.showcase {
    list-style: none;
    width: 100%;
    overflow: auto;
}

.showcase li {
    display: block;
    float: left;
    width: 25%;
    background-color: black;
}

.figures {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.figures img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: all 0.3s;
}

.figures img:hover {
    opacity: 1;
    transform: scale(1.1);
}

/*==========*/
/*HOW WE ROLL*/
/*==========*/

.how-it-works {
    background-color: #f6f6f6;
}

.box1, .box2 {
    margin-top: 25px;
}

.box1 {
    text-align: center;
    padding-right: 3%;
}

.box2 {
    padding-left: 3%;
    margin-top: 100px;
}

.frame {
    width: 70%;
}

.inner-text {
    margin-bottom: 50px;
}

.inner-text:last-of-type {
    margin-bottom: 80px;
}

.inner-text:nth-of-type(2) {
    margin-top: 70px;
}

.inner-text div {
    color: rgba(243, 156, 18,1.0);
    border: 2px solid rgba(243, 156, 18,1.0);
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    float: left;
    padding: 5px;
    margin-right: 20px;
    font-size: 120%;
}

.btn-app img{
    height: auto;
    display: inline;
    max-width: 40%;
    margin-right: 10px;
}

/*============*/
/*LOCATIONS*/
/*============*/

.city img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.city-box {
    font-size: 80%;
    margin-top: 40px;
    line-height: 35px;
}

.city-box i {
    color: rgba(243, 156, 18,1.0);
    vertical-align: text-top;
    margin-right: 13px;
}

.twitter-links {
    text-decoration: none;
    color: rgba(243, 156, 18,1.0);
    border-bottom: 1px solid rgba(243, 156, 18,1.0);
    padding-bottom: 7px;
}

/*================*/
/*CUSTOMERS SAY*/
/*================*/
section.reviews {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("imgs/review-background.jpeg");
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

cite {
    font-size: 90%;
}

blockquote:before {
    content: "\201c";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -10px;
    left: -15px;
}
cite img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 20px;
}

blockquote {
    margin: 5%;
    font-style: italic;
    font-size: 90%;
    line-height: 160%;
    margin-bottom: 50px;
    position: relative;
    margin-top: 50px;
}

/*============*/
/* SUBSCRIPTION*/
/*============*/

.subscription{
    background-color: #f6f6f6;
}

.first-box {
    margin: 20px;
    box-shadow: 7px 10px 21px -9px rgba(140,127,140,0.9);
}

/*TOP BOX*/
.sub-top-box h3 {
    margin:0;
    padding:0;
}

.sub-top-box {
    border-radius: 5px;
    background-color: white;
    width: 100%;
}
.sub-top-box {
    padding: 15px;
    border-bottom: 2px solid #f6f6f6;
}

.sub-top-box div.top-price {
    color: rgba(243, 156, 18,1.0);
    margin-bottom: 12px;
}

.sub-top-box div span#price {
    font-size: 300%;
    font-weight: 200;
    color: rgba(243, 156, 18,1.0);
}

.sub-top-box div span#month {
    font-size: 80%;
}

div.extra-space {
    padding-bottom: 31px;
}

span#meal-price {
    font-size: 85%;
}

/*MIDDLE BOX*/
.sub-middle-box {
    line-height: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
    border-bottom: 2px solid #f6f6f6;
    font-size: 85%;
}

.checkmark {
    color: rgba(243, 156, 18,1.0);
    margin-right: 10px; 
}

#second-beer {
    margin-left: 32px;
}

/*BOTTOM BOX*/
.sub-bottom-box {
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.sub-bottom-box .btn{
    margin: 20px 0px;
}

/*=================*/
/* CONTACT FORM */
/*=================*/

form {
    width: 60%;
    margin: 0 auto;
}

input, 
select, 
textarea {
    width: 80%;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 3px;
    outline-width: 0;
    margin-left: 40px;
}

textarea{
    max-width: 80%;
}

#submit-form {
    margin-left: 30px;
}

#map {
    width: 100%;
    height: 580px;
    position: relative;
    z-index: 0;
}

.contact-box {
    width: 100%;
    height: 580px;
    position: relative;
}

.form-box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    height:580px;
    width: 50%;
    padding-top: 40px;
}

/*============*/
/*   FOOTER   */
/*============*/

footer {
    background-color: rgb(50, 50, 50);
    color: grey;
    z-index: 2;
}

.footer-ul li{
    text-align: center;
    margin: 20px;
    float: left;
    list-style: none;
    font-size: 70%;
}

.footer-ul li a{
    color: grey;
    text-decoration: none;
}

.socials li{
    text-align: center;
    font-size: 70%;
    margin: 20px;
    float: right;
    list-style: none;
}

.socials li a{
    color: grey;
    text-decoration: none;
}

.clear-all {
    clear: both;
}

#end-text {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 30px;
    font-size: 80%;
}

.fb:hover {
    color: rgb(59, 89, 152);
}
.insta:hover {
    color: rgb(214, 201, 182);
}
.twitter:hover {
    color: rgb(85, 172, 238);
}
.gplus:hover {
    color: rgb(220, 78, 65);
}


/*===============================*/
/*======MEDIA QUERIES BEGIN======*/
/*===============================*/

/* small screen-sized phones */
@media only screen and (max-width: 480px) {
    #rocks {
        margin: 0 !important;
    }
    .footer-ul li {
        font-size: 10%;
        color: red;
    }
    #second-beer {
        margin: 0;
    }
}

/* medium sized phone screens, < Ipad */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 1.5rem;
    }
    .container {
        padding: 0 4%;
    }
    .col {
        width: 100%;
    }
    .city-box {
        margin: 0 30%;
        width: 100%;
    }
    #rocks {
        margin: 0 !important;
    }
    .footer-ul li{
        font-size: 60%;
        margin: 20px 5px;
    }
    .social-col{
        width: 49.2%;
    }
    #second-beer {
        margin: 0;
    }
    .labels {
        text-align: center;
        margin: 10px;
    }
    .top-nav .brand-logo {
        max-width: 100px;
        height: 80px;
    }
    .top-nav {
        display:none;
    }
    .burger-icon {
        display: inline-block;
    }
    .top-nav {
        float: left;
        margin-top: 38px;
        margin-left: 25px;
    }
    .top-nav li{
        display: block;
    }
    .top-nav li a:link,
    .top-nav li a:visited{
        border:0;
        display: block;
        padding: 5px 0;
        font-size: 100%;
    }
    .sticky-navbar .top-nav {
        margin-top: 10px;
        float: left;
    }
    .sticky-navbar .top-nav li a:link,
    .sticky-navbar .top-nav li a:visited{
        padding: 10px 0;
        border: 0;
    }
    .sticky-navbar .burger-icon {
        color: black;
        margin-top: 12px;
    }
    .sticky-navbar .brand-logo-color{
        max-width: 100px;
        height: 80px;
    }
}

@media only screen and (max-width: 847px) {
    body {
        font-size: 18px;
    }
    .brand-logo {
        margin-top: 25px;
    }
    section {
        padding: 60px 0;
    }
    #rocks {
        margin-left: 30px;
    }
}

/* Ipad in portrait mode */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    .brand-logo {
        margin-top: 25px;
    }
    section {
        padding: 60px 0;
    }
}

/* bigger screens than ipad and ipad in landscape */
@media only screen and (max-width: 1200px) {
    .main-headline { 
        /*center the headline*/
        width: 100%;
        padding: 0 12%;
    }

    .container {
        padding: 0 2%;
    }
    #rocks {
        margin-left: 36px;
    }
}